<div id="coordinates" class="text-center" style="display:none">
    <h2>Nächste Station:<br> <a href="https://maps.app.goo.gl/qqgpudPpb6LLLcTK7" target="_blank">Geocache am Brüdernfriedhof</a></h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d2521.022410519244!2d10.504236843042486!3d52.258416012002904!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTLCsDE1JzM1LjUiTiAxMMKwMzAnMjIuMSJF!5e1!3m2!1sde!2sde!4v1748593790072!5m2!1sde!2sde" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>