<div id="coordinates" class="text-center" style="display:none">
    <h2>Nächste Station:<br> <a href="https://maps.app.goo.gl/oLAsi7YqVF7AJzCx5" target="_blank">Geocache an der HBK</a></h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d19536.704403808915!2d10.5084743!3d52.2599461!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTLCsDE1JzI3LjciTiAxMMKwMzAnMTEuNCJF!5e0!3m2!1sde!2sde!4v1748593626780!5m2!1sde!2sde" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>